@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


* {
    margin: 0%;
    padding: 0%;
}

.mexerNav {
    height: 80px;
}

main {
    background-color: #f9f9f9;
}


#container {
    cursor: pointer;
    padding-top: 50px;
    height: 800px;
    width: 100%;
    display: flex;
    flex-direction: row;
}


#containerEsq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#containerEsq img {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    height: 520px;
    width: 500px;
}

#containerEsq:hover img {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(1.05);
}

#containerDir {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#containerDir1 img {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    height: 250px;
    width: 540px;

}

#containerDir1:hover img {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(1.05);
}


#containerDir2 img {
    max-width: 100%;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    height: 250px;
    width: 540px;

}

#containerDir2:hover img {
    -moz-transform: scale(0.5);
    -webkit-transform: scale(0.5);
    transform: scale(1.05);
}

.imagem {
    height: 40%;
}


.textoContainer {
    color: black;
    margin-top: 50px;
    text-align: center;
}

#textoSpotify{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 170px;
    margin-top: 100px;
    color: white;
    background-color: #02104d;
}

#textoSpotify a{
    text-decoration: none;
}

#quadraBasq{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8px;
    margin-top: 230px;
    margin-bottom: 300px;
    color: white;
    background-color: black;
}

#quadra{
    border-radius: 50%;
    height: 250px;
    width: 250px;
    border: 8px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha{
    height: 5px;
    width: 100%;
    background-color: white;
}

#bola{
    height: 120px;
    width: 120px;
}


#containerCard {
    color: white;
    margin-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


#containerCard img{
    height: 400px;
    width: 900px;
}

#containerCard div+div {
    margin-top: 50px;
}


.souH1 {
    margin-bottom: 50px;
}

#h1Squad{
    margin-top: 100px;
    color: white;
    background-color: #02104d;
    text-align: center;
}